@model FirePorker.Models.PokerGame
<form>
    <div class="row">
        <div class="col-sm-8">
            <br/>

            <div class="well well-sm" data-bind="visible: currentStory() != null" style="display: none;">
                <em>Current story:</em><br/>
                <strong data-bind="html: storyTitleHtml(currentStoryTitle())"></strong>
                <em data-bind="text: currentStoryDescription"></em>
            </div>

            <div class="alert alert-warning" data-bind="visible: myPlayer.isHost() != true && currentStory() == null" style="display: none;">
                <h3>Waiting for host to create a story...</h3>
            </div>

            <div class="panel panel-warning" data-bind="visible: currentStory() != null" style="display: none;">
                <div class="panel-heading clearfix">
                    Current Votes
                    <div class="label label-warning label-as-badge pull-right" data-bind="text: timer"></div>
                </div>
                <div class="panel-body">
                    <div data-bind="foreach: votes" class="clearfix">
                        <div data-bind="attr: {'id': playerId()}" style="display: none; padding-right: 15px; text-align: center;" class="pull-left">
                            <div data-bind="visible: $root.allVoted() == false && playerId() != myPlayer.id()">
                                <img src="/Content/CardBack.png" class="card_back" />
                            </div>
                            <div data-bind="text: points(), visible: $root.allVoted() == true || playerId() == myPlayer.id()" class="card_visible"></div>
                            <span data-bind="text: name, visible: playerId() != myPlayer.id()"></span>
                            <em data-bind="visible: playerId() == myPlayer.id()">Me</em>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-info" data-bind="visible: allVoted() == false && currentStory() != null && (myPlayer.isHost() == false || hostCanVote())" style="display: none;">
                <div class="panel-heading">Select your estimate</div>
                <div class="panel-body" data-bind="foreach: fibSequence">
                    <button type="button" class="btn btn-default" data-bind="click: $root.submitVote.bind($data), text: $data"></button>
                </div>
            </div>

            <div class="panel panel-success" data-bind="visible: myPlayer.isHost() == true && currentStory() != null" style="display: none;">
                <div class="panel-heading">Host tools</div>
                <div class="panel-body form-inline">

                    <div class="form-group">
                        <input type="checkbox" id="showMedian" data-bind="checked: showMedian"/>
                        <label for="showMedian" data-bind="text: showHideLabel(showMedian,'median')" class="control-label"></label>
                        <input id="median" type="text" data-bind="value: voteMedian, visible: showMedian" width="3" disabled="disabled" style="width: 55px;" class="form-control"/>
                    </div>

                    <button type="button" class="btn btn-danger" data-bind="click: clearVotes">Clear votes</button>

                    <div class="form-group" data-bind="visible: allVoted" style="display: none;">
                        <button type="button" class="btn btn-success" data-bind="click: acceptEstimate">Accept estimate</button>
                        <select data-bind="options: fibSequence, value: estimate" class="form-control" style="width: 75px"></select>
                    </div>

                </div>
            </div>

            <div class="panel panel-success" data-bind="visible: myPlayer.isHost() == true && currentStory() == null" style="display: none;">
                <div class="panel-heading">Story</div>
                <div class="panel-body">
                    <label for="storyTitle" class="control-label">Title</label>
                    <input id="storyTitle" type="text" class="form-control" style="max-width: 100%" data-bind="value: storyTitle" />

                    <label for="storyDescription" class="control-label">Description</label>
                    <textarea id="storyDescription" class="form-control" style="max-width: 100%" data-bind="value: storyDescription"></textarea>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-success" data-bind="click: addStory">Add story</button> or <a href="#">Cancel</a>
                </div>
            </div>

            <div class="panel panel-default" data-bind="visible: stories().length" style="display: none;">
                <div class="panel-heading">Stories</div>
                <div class="panel-body">
                    <ul class="list-group clearfix" data-bind="foreach: stories">
                        <li class="list-group-item">
                            <span class="label label-success label-as-badge pull-right" data-bind="visible: estimate() > 0 && estimate() < 3, text: estimate"></span>
                            <span class="label label-primary label-as-badge pull-right" data-bind="visible: estimate() >= 3 && estimate() < 8, text: estimate"></span>
                            <span class="label label-warning label-as-badge pull-right" data-bind="visible: estimate() >= 8 && estimate() < 20, text: estimate"></span>
                            <span class="label label-danger label-as-badge pull-right" data-bind="visible: estimate() >= 20 && estimate() <= 100, text: estimate"></span>
                            <span class="label label-default label-as-badge pull-right" data-bind="visible: estimate() == null">CURRENT</span>
                            <span data-bind="text: $index()+1"></span>.&nbsp;<span data-bind="html: $root.storyTitleHtml(title())"></span>
                            <span data-bind="visible: description().length">
                                <br />
                                <em data-bind="text: description" style="font-style: italic"></em>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <h3>@Model.Name</h3>
            <i>@Model.Description</i>
            <p>
                Participants (<span data-bind="text: players().length"></span>)
                <div data-bind="foreach: players">
                    <div class="clearfix" style="white-space: nowrap">
                        <i style="padding-right: 3px; color: green" class="pull-left glyphicon glyphicon-ok" data-bind="visible: currentVote() != null"></i>
                        <div class="pull-left" style="padding-right: 3px;">
                            <span data-bind="text: name"></span>&nbsp;<span data-bind="visible: isHost">(Host)</span><br />
                        </div>
                        <a href="#" data-bind="click: $root.removePlayer, visible: myPlayer.isHost() && !isHost()" style="color: red;"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </div>

            </p>
            
        </div>
    </div>    
</form>

@section scripts {
    <script src="/Scripts/knockout-3.3.0.js"></script>
    <script src="/Scripts/moment.min.js"></script>
    <script src="/lib/signalr/signalr.min.js"></script>

    <script type="text/javascript">
    var _gameId = "@ViewBag.GameId";
    var _playerId = "@ViewBag.PlayerId";
    var _jiraBaseUrl = @Html.Raw(System.Text.Json.JsonSerializer.Serialize((string)(ViewBag.JiraBaseUrl ?? "")));
@{
        var jsonOptions = new System.Text.Json.JsonSerializerOptions { PropertyNamingPolicy = System.Text.Json.JsonNamingPolicy.CamelCase };
    }
    var initialPlayers = convertToObservableList(@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Players, jsonOptions)));
    var initialStories = convertToObservableList(@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Stories, jsonOptions)));
    var _roundStarted = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.RoundStarted, jsonOptions));
    var _hostCanVote = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.HostCanVote, jsonOptions));
    var myPlayer = getByValue(initialPlayers, "id", _playerId);
    var _fibSequence = [0, 0.5, 1, 2, 3, 5, 8, 13, 20, 40, 100, "?"];

    var now = moment.utc();
    var vbNow = moment("@ViewBag.Now", "MM/DD/YYYY hh:mm:ss a").utc();
    var offset = moment.utc(now.diff(vbNow)).unix();
    var dateOffset = (offset < -28800) ? -28800 - offset : offset - -28800;

    function getByValue(arr, attr, value) {
        if (typeof arr == "object") {
            var result = arr.filter(function(o) { return o[attr]() == value; });
            return result ? result[0] : null;
        }

        var result = arr().filter(function(o) { return o[attr]() == value; });
        return result ? result[0] : null;
    }

    function convertToObservableList(list) {
        var newList = [];
        $.each(list, function(i, obj) {
            newList.push(convertToObservable(obj));
        });
        return newList;
    }

    function convertToObservable(obj) {
        var newObj = {};
        Object.keys(obj).forEach(function(key) {
            newObj[key] = ko.observable(obj[key]);
        });
        return newObj;
    }

    function median(values) {
        values.sort(function(a, b) { return a - b; });
        var half = Math.floor(values.length / 2);
        if (values.length % 2)
            return values[half];
        else
            return findNearestFib((values[half - 1] + values[half]) / 2.0);
    }

    function findNearestFib(value) {
        var nearest = value;
        $.each(_fibSequence, function(i, obj) {
            if (obj >= value) {
                nearest = obj;
                return false;
            }
        });
        return nearest;
    }

    function storyTitleHtml(title) {
        var escaped = $('<span>').text(title).html();
        if (!_jiraBaseUrl) return escaped;
        return escaped.replace(/([A-Z][A-Z0-9]+-\d+)/g, function(match) {
            return '<a href="' + _jiraBaseUrl + encodeURIComponent(match) + '" target="_blank" rel="noopener noreferrer">' + match + '</a>';
        });
    }

    function SortByPoints(a, b) {
        var aPoints = a.points();
        var bPoints = b.points() === "?" ? -1 : b.points();
        return ((aPoints < bPoints) ? -1 : ((aPoints > bPoints) ? 1 : 0));
    }

    function getRoundTime() {
        return moment.utc(moment.utc().diff(moment(_roundStarted))).add(dateOffset, "seconds").format("mm:ss");
    }

    var ViewModel = function() {
        var self = this;
        this.connection = null;
        this.players = ko.observableArray(initialPlayers);
        this.showMedian = ko.observable(false);
        this.hostCanVote = ko.observable(_hostCanVote);
        this.fibSequence = ko.observableArray(_fibSequence);
        this.votes = ko.observableArray([]);
        this.stories = ko.observableArray(initialStories);
        this.storyTitle = ko.observable("");
        this.storyDescription = ko.observable("");
        this.estimate = ko.observable(0);
        this.timer = ko.observable(getRoundTime());

        setInterval(function () {
            if (self.currentStory() != null) {
                self.timer(getRoundTime());
            }
        }, 1000);

        this.storyTitleHtml = function(title) {
            return storyTitleHtml(title);
        }

        this.addStory = function () {
            if (self.storyTitle().length) {
                self.connection.invoke("AddStory", _gameId, self.storyTitle(), self.storyDescription())
                    .catch(function(err) { console.error(err.toString()); });
            } else {
                alert("Invalid title");
            }
        }

        this.currentStory = ko.computed(function () {
            var currentStory = null;
            $.each(self.stories(), function (i, obj) {
                if (obj.estimate() == null)
                    currentStory = obj;
            });
            return currentStory;
        }, this);

        this.currentStoryTitle = ko.computed(function () {
            var title = "";
            $.each(self.stories(), function (i, obj) {
                if (obj.estimate() == null)
                    title = obj.title();
            });
            return title;
        }, this);

        this.currentStoryDescription = ko.computed(function () {
            var desc = "";
            $.each(self.stories(), function (i, obj) {
                if (obj.estimate() == null)
                    desc = obj.description();
            });
            return desc;
        }, this);

        this.isEligibleVoter = function(player) {
            return self.hostCanVote() || !player.isHost();
        }

        this.voteMedian = ko.computed(function() {
            var votes = [];
            $.each(self.players(), function(i, obj) {
                if (!self.isEligibleVoter(obj))
                    return;
                if (obj.currentVote() != null && obj.currentVote() != -1) {
                    votes.push(obj.currentVote());
                }
            });

            if (votes.length === 0)
                return 0;

            return median(votes);
        }, this);

        this.allVoted = ko.computed(function () {
            var count = 0;
            var total = 0;
            $.each(self.players(), function (i, obj) {
                if (!self.isEligibleVoter(obj))
                    return;
                total++;
                if (obj.currentVote() != null)
                    count++;
            });
            var allVoted = count == total;
            if (allVoted) {
                self.estimate(self.voteMedian());
            } else {
                self.estimate(0);
            }
            return allVoted;
        }, this);

        this.showHideLabel = function(show, text) {
            if (show()) {
                return "Hide " + text;
            }
            return "Show " + text;
        }

        this.submitVote = function (points) {
            var p = points;
            if (points === "?")
                p = -1;
            self.connection.invoke("PlayerVoted", _gameId, _playerId, p)
                .catch(function(err) { console.error(err.toString()); });
        }

        this.clearVotes = function() {
            self.connection.invoke("ClearVotes", _gameId)
                .catch(function(err) { console.error(err.toString()); });
        }

        this.acceptEstimate = function () {
            self.connection.invoke("AcceptEstimate", _gameId, self.currentStory().id(), self.estimate())
                .catch(function(err) { console.error(err.toString()); });
            self.storyTitle("");
            self.storyDescription("");
        }

        this.removePlayer = function(player) {
            self.connection.invoke("PlayerLeft", _gameId, player.id())
                .catch(function(err) { console.error(err.toString()); });
        }

        this.joinGroup = function(groupName) {
            self.connection.invoke("JoinGroup", groupName)
                .catch(function(err) { console.error(err.toString()); });
        }

        this.addVote = function (playerId, playerName, points) {
            var p = points;
            if (points === -1)
                p = "?";
            var vote = getByValue(self.votes, "playerId", playerId);
            if (vote != null) {
                vote.points(p);
            } else {
                var newVote = convertToObservable({
                    "playerId": playerId,
                    "name": playerName,
                    "points": p
                });

                self.votes.push(newVote);
                $("#" + playerId).fadeIn("fast");
            }
        }

        this.removeVote = function (playerId) {
            var vote = getByValue(self.votes, "playerId", playerId);
            if (vote != null) {
                $("#" + playerId).fadeOut("fast");
                self.votes.remove(vote);
            }
        }

        this.initializeVotes = function() {
            $.each(self.players(), function (i, obj) {
                if (obj.currentVote() != null) {
                    self.addVote(obj.id(), obj.name(), obj.currentVote());
                }
            });

            self.votes.sort(SortByPoints);
        }

        this.setupSignalR = function() {
            self.connection = new signalR.HubConnectionBuilder()
                .withUrl("/signalr/hubs")
                .withAutomaticReconnect()
                .build();

            self.connection.on("playerJoined", function(player) {
                self.players.push(convertToObservable(player));
            });

            self.connection.on("estimateAccepted", function(storyId, estimate) {
                var story = getByValue(self.stories(), "id", storyId);
                if (story != null) {
                    story.estimate(estimate);
                }
            });

            self.connection.on("playerLeft", function(playerId) {
                var p = getByValue(self.players, "id", playerId);
                if (p != null) {
                    if (playerId == _playerId) {
                        alert('What did you do?!?  You just got kicked!');
                    }
                    self.players.remove(p);
                    var vote = getByValue(self.votes(), "playerId", playerId);
                    if (vote != null) {
                        self.votes.remove(vote);
                    }
                }
            });

            self.connection.on("storyAdded", function(story, roundStarted) {
                self.stories.push(convertToObservable(story));
                _roundStarted = roundStarted;
            });

            self.connection.on("playerVoted", function(playerId, points) {
                var player = getByValue(self.players, "id", playerId);
                if (player != null) {
                    player.currentVote(points);
                    if (points == null) {
                        self.removeVote(playerId);
                    } else {
                        self.addVote(playerId, player.name(), points);
                        if (self.allVoted()) {
                            self.votes.sort(SortByPoints);
                        }
                    }
                }
            });
        }
    };

    var vm = new ViewModel();

    function startConnection() {
        vm.connection.start()
            .then(function() {
                vm.joinGroup(_gameId);
                vm.initializeVotes();
            })
            .catch(function(err) {
                console.error(err.toString());
                setTimeout(startConnection, 5000);
            });
    }

    $(function() {
        vm.setupSignalR();
        ko.applyBindings(vm);
        startConnection();
    });
    </script>
}
