@model PlanningPoker.Models.PokerGame

@{
    ViewBag.Title = "Index";
}

@section style {
    .card_visible {
    width: 100px;
    height: 150px;
    border: 1px solid #000;
    font-size: 36pt;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    }
}

<div class="row">
    <div class="col-xs-9">
        <br />

        <div class="panel panel-default">
            <div class="panel-heading">Current Votes</div>
            <div class="panel-body">
                <div data-bind="foreach: players" class="clearfix">
                    <div data-bind="visible: CurrentVote() != null" style="display: none; padding-right: 15px;" class="pull-left">
                        <img src="~/Content/cardback.jpg" height="150" data-bind="visible: $root.allVoted() == false && Id() != myPlayer.Id()" />
                        <div data-bind="text: CurrentVote(), visible: $root.allVoted() == true || Id() == myPlayer.Id()" class="card_visible"></div>
                        <br />
                        <span data-bind="text: Name"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" data-bind="visible: $root.allVoted() == false">
            <div class="panel-heading">Select your estimate</div>
            <div class="panel-body">
                <button type="button" class="btn btn-default" data-bind="click: submitVote.bind($data,0.5)">0.5</button>
                <button type="button" class="btn btn-default" data-bind="click: submitVote.bind($data,1)">1</button>
                <button type="button" class="btn btn-default" data-bind="click: submitVote.bind($data,2)">2</button>
                <button type="button" class="btn btn-default" data-bind="click: submitVote.bind($data,3)">3</button>
                <button type="button" class="btn btn-default" data-bind="click: submitVote.bind($data,5)">5</button>
                <button type="button" class="btn btn-default" data-bind="click: submitVote.bind($data,8)">8</button>
                <button type="button" class="btn btn-default" data-bind="click: submitVote.bind($data,13)">13</button>
                <button type="button" class="btn btn-default" data-bind="click: submitVote.bind($data,20)">20</button>
                <button type="button" class="btn btn-default" data-bind="click: submitVote.bind($data,40)">40</button>
                <button type="button" class="btn btn-default" data-bind="click: submitVote.bind($data,100)">100</button>
                <button type="button" class="btn btn-default" data-bind="click: submitVote.bind($data,0)">?</button>
            </div>
        </div>

        <div class="panel panel-default" data-bind="visible: myPlayer.IsHost() == true">
            <div class="panel-heading">Host tools</div>
            <div class="panel-body form-inline">
                <input type="checkbox" id="showMedian" data-bind="checked: showMedian"/>
                <label class="control-label" for="showMedian">Median</label>
                <input id="median" type="text" data-bind="value: voteMedian, visible: showMedian" width="3" disabled="disabled" style="width: 55px;" class="form-control"/>
                <button type="button" class="btn btn-default" data-bind="click: clearVotes">Clear Votes</button>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <h3>@Model.Name</h3>
        Participants (<span data-bind="text: players().length"></span>)
        <div data-bind="foreach: players">
            <div class="clearfix" style="white-space: nowrap">
                <i style="padding-right: 3px; color:green" class="pull-left glyphicon glyphicon-ok" data-bind="visible: CurrentVote() != null"></i>
                <div class="pull-left" style="padding-right: 3px;">
                    <span data-bind="text: Name"></span>&nbsp;<span data-bind="visible: IsHost">(Host)</span><br/>
                </div>
                <a href="#" data-bind="click: $root.removePlayer, visible: myPlayer.IsHost() && !IsHost()" style="color: red;"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
        </div>
        <div>
            <h3>Chat</h3>
            Coming soon...?
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/signalr")

    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">
        var _gameId = "@ViewBag.GameId";
        var _playerId = "@ViewBag.PlayerId";
        var initialPlayers = convertToObservableList(@(Html.Raw(Json.Encode(Model.Players))));
        var myPlayer = getByValue(initialPlayers, "Id", _playerId);

        function getByValue(arr, attr, value) {
            if (typeof arr == "object") {
                var result = arr.filter(function(o) { return o[attr]() == value; });
                return result ? result[0] : null;
            }

            var result = arr().filter(function(o) { return o[attr]() == value; });
            return result ? result[0] : null;
        }

        function convertToObservableList(list) {
            var newList = [];
            $.each(list, function(i, obj) {
                var newObj = {};
                Object.keys(obj).forEach(function(key) {
                    newObj[key] = ko.observable(obj[key]);
                });
                newList.push(newObj);
            });
            return newList;
        }

        function convertToObservable(obj) {
            var newObj = {};
            Object.keys(obj).forEach(function(key) {
                newObj[key] = ko.observable(obj[key]);
            });
            return newObj;
        }

        function median(values) {
            values.sort(function(a, b) { return a - b; });
            var half = Math.floor(values.length / 2);
            if (values.length % 2)
                return values[half];
            else
                return findNearestFib((values[half - 1] + values[half]) / 2.0);
        }

        function findNearestFib(value) {
            var fib = [0.5, 1, 2, 3, 5, 8, 13, 20, 40, 100];
            var nearest = value;
            $.each(fib, function(i, obj) {
                if (obj >= value) {
                    nearest = obj;
                    return false;
                }
            });
            return nearest;
        }

        var ViewModel = function() {
            var self = this;
            this.pokerHub = $.connection.pokerHub;
            this.players = ko.observableArray(initialPlayers);
            this.showMedian = ko.observable(false);

            this.allVoted = ko.computed(function() {
                var count = 0;
                $.each(self.players(), function(i, obj) {
                    if (obj.CurrentVote() != null)
                        count++;
                });
                return count == self.players().length;
            }, this);

            this.voteMedian = ko.computed(function() {
                var votes = [];
                $.each(self.players(), function(i, obj) {
                    if (obj.CurrentVote() != null) {
                        votes.push(obj.CurrentVote());
                    }
                });

                if (votes.length == 0)
                    return 0;

                return median(votes);
            }, this);

            this.submitVote = function(points) {
                self.pokerHub.server.playerVoted(_gameId, _playerId, points);
            }

            this.clearVotes = function() {
                self.pokerHub.server.clearVotes(_gameId);
            }

            this.removePlayer = function(player) {
                self.pokerHub.server.playerLeft(_gameId, player.Id());
            }

            this.pokerHub.client.playerJoined = function(player) {
                self.players.push(convertToObservable(player));
            };

            this.pokerHub.client.playerLeft = function(playerId) {
                var p = getByValue(self.players, "Id", playerId);
                if (p != null) {
                    if (playerId == _playerId) {
                        alert('What did you do?!?  You just got kicked!');
                    }
                    self.players.remove(p);
                }
            };

            this.pokerHub.client.playerVoted = function(playerId, points) {
                var player = getByValue(self.players, "Id", playerId);
                if (player != null) {
                    player.CurrentVote(points);
                }
            };

            this.joinGroup = function(groupName) {
                self.pokerHub.server.joinGroup(groupName);
            }
        };

        var vm = new ViewModel();

        $(function() {
            ko.applyBindings(vm);
            $.connection.hub.start().done(function() {
                vm.joinGroup(_gameId);
            });
        });
    </script>
}

