@model PlanningPoker.Models.PokerGame

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-9">
        <br />

        <div class="panel panel-default">
            <div class="panel-heading">Current Votes</div>
            <div class="panel-body">
                <div data-bind="foreach: votes" class="clearfix">
                    <div data-bind="attr: {'id': PlayerId()}" style="display: none; padding-right: 15px; text-align: center;" class="pull-left">
                        <div data-bind="visible: $root.allVoted() == false && (PlayerId() != myPlayer.Id() || !$root.showMyVote())">
                            <img src="~/Content/CardBack.png" height="150" />
                        </div>
                        <div data-bind="text: Points(), visible: $root.allVoted() == true || (PlayerId() == myPlayer.Id() && $root.showMyVote())" class="card_visible"></div>
                        <span data-bind="text: Name"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" data-bind="visible: $root.allVoted() == false">
            <div class="panel-heading">Select your estimate</div>
            <div class="panel-body" data-bind="foreach: fibSequence">
                <button type="button" class="btn btn-default" data-bind="click: $root.submitVote.bind($data), text: $data"></button>
            </div>
        </div>

        <div class="panel panel-default" data-bind="visible: myPlayer.IsHost() == true">
            <div class="panel-heading">Host tools</div>
            <div class="panel-body form-inline">
                <input type="checkbox" id="showMyVote" data-bind="checked: showMyVote" />
                <label class="control-label" for="showMyVote" data-bind="text: showHideLabel(showMyVote,'my vote')"></label>

                <input type="checkbox" id="showMedian" data-bind="checked: showMedian"/>
                <label class="control-label" for="showMedian" data-bind="text: showHideLabel(showMedian,'median')"></label>

                <input id="median" type="text" data-bind="value: voteMedian, visible: showMedian" width="3" disabled="disabled" style="width: 55px;" class="form-control"/>
                <button type="button" class="btn btn-default" data-bind="click: clearVotes">Clear Votes</button>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <h3>@Model.Name</h3>
        Participants (<span data-bind="text: players().length"></span>)
        <div data-bind="foreach: players">
            <div class="clearfix" style="white-space: nowrap">
                <i style="padding-right: 3px; color:green" class="pull-left glyphicon glyphicon-ok" data-bind="visible: CurrentVote() != null"></i>
                <div class="pull-left" style="padding-right: 3px;">
                    <span data-bind="text: Name"></span>&nbsp;<span data-bind="visible: IsHost">(Host)</span><br/>
                </div>
                <a href="#" data-bind="click: $root.removePlayer, visible: myPlayer.IsHost() && !IsHost()" style="color: red;"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
        </div>
        <div>
            <h3>Chat</h3>
            Coming soon...?
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/signalr")

    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">
        var _gameId = "@ViewBag.GameId";
        var _playerId = "@ViewBag.PlayerId";
        var initialPlayers = convertToObservableList(@(Html.Raw(Json.Encode(Model.Players))));
        var myPlayer = getByValue(initialPlayers, "Id", _playerId);
        var _fibSequence = [0, 0.5, 1, 2, 3, 5, 8, 13, 20, 40, 100, "?"];

        function getByValue(arr, attr, value) {
            if (typeof arr == "object") {
                var result = arr.filter(function(o) { return o[attr]() == value; });
                return result ? result[0] : null;
            }

            var result = arr().filter(function(o) { return o[attr]() == value; });
            return result ? result[0] : null;
        }

        function convertToObservableList(list) {
            var newList = [];
            $.each(list, function(i, obj) {
                newList.push(convertToObservable(obj));
            });
            return newList;
        }

        function convertToObservable(obj) {
            var newObj = {};
            Object.keys(obj).forEach(function(key) {
                newObj[key] = ko.observable(obj[key]);
            });
            return newObj;
        }

        function median(values) {
            values.sort(function(a, b) { return a - b; });
            var half = Math.floor(values.length / 2);
            if (values.length % 2)
                return values[half];
            else
                return findNearestFib((values[half - 1] + values[half]) / 2.0);
        }

        function findNearestFib(value) {
            var nearest = value;
            $.each(_fibSequence, function(i, obj) {
                if (obj >= value) {
                    nearest = obj;
                    return false;
                }
            });
            return nearest;
        }

        function SortByPoints(a, b) {
            var aPoints = a.Points();
            var bPoints = b.Points();
            return ((aPoints < bPoints) ? -1 : ((aPoints > bPoints) ? 1 : 0));
        }

        var ViewModel = function() {
            var self = this;
            this.pokerHub = $.connection.pokerHub;
            this.players = ko.observableArray(initialPlayers);
            this.showMedian = ko.observable(true);
            this.showMyVote = ko.observable(true);
            this.fibSequence = ko.observableArray(_fibSequence);
            this.votes = ko.observableArray([]);

            this.allVoted = ko.computed(function() {
                var count = 0;
                $.each(self.players(), function(i, obj) {
                    if (obj.CurrentVote() != null)
                        count++;
                });
                return count == self.players().length;
            }, this);

            this.voteMedian = ko.computed(function() {
                var votes = [];
                $.each(self.players(), function(i, obj) {
                    if (obj.CurrentVote() != null && obj.CurrentVote() != -1) {
                        votes.push(obj.CurrentVote());
                    }
                });

                if (votes.length === 0)
                    return 0;

                return median(votes);
            }, this);

            this.showHideLabel = function(show, text) {
                if (show()) {
                    return "Hide " + text;
                }
                return "Show " + text;
            }

            this.submitVote = function (points) {
                var p = points;
                if (points === "?")
                    p = -1;
                self.pokerHub.server.playerVoted(_gameId, _playerId, p);
            }

            this.clearVotes = function() {
                self.pokerHub.server.clearVotes(_gameId);
            }

            this.removePlayer = function(player) {
                self.pokerHub.server.playerLeft(_gameId, player.Id());
            }

            this.pokerHub.client.playerJoined = function(player) {
                self.players.push(convertToObservable(player));
            };

            this.pokerHub.client.playerLeft = function(playerId) {
                var p = getByValue(self.players, "Id", playerId);
                if (p != null) {
                    if (playerId == _playerId) {
                        alert('What did you do?!?  You just got kicked!');
                    }
                    self.players.remove(p);
                }
            };

            this.pokerHub.client.playerVoted = function(playerId, points) {
                var player = getByValue(self.players, "Id", playerId);
                player.CurrentVote(points);
                if (points == null) {
                    self.removeVote(playerId);
                } else {
                    self.addVote(playerId, player.Name(), points);
                    if (self.allVoted()) {
                        self.votes.sort(SortByPoints);
                    }
                }
            };

            this.joinGroup = function(groupName) {
                self.pokerHub.server.joinGroup(groupName);
            }

            this.addVote = function (playerId, playerName, points) {
                var p = points;
                if (points === -1)
                    p = "?";
                var vote = getByValue(self.votes, "PlayerId", playerId);
                if (vote != null) {
                    vote.Points(p);
                } else {
                    var newVote = convertToObservable({
                        "PlayerId": playerId,
                        "Name": playerName,
                        "Points": p
                    });
                    console.log(newVote);
                    self.votes.push(newVote);
                    $("#" + playerId).fadeIn("fast");
                }
            }

            this.removeVote = function (playerId) {
                var vote = getByValue(self.votes, "PlayerId", playerId);
                if (vote != null) {
                    $("#" + playerId).fadeOut("fast");
                    self.votes.remove(vote);
                }
            }

            this.initializeVotes = function() {
                $.each(self.players(), function (i, obj) {
                    if (obj.CurrentVote() != null) {
                        self.addVote(obj.Id(), obj.Name(), obj.CurrentVote());
                    }
                });
                self.votes.sort(SortByPoints);
            }
        };

        var vm = new ViewModel();

        $(function() {
            ko.applyBindings(vm);
            $.connection.hub.start().done(function() {
                vm.joinGroup(_gameId);
                vm.initializeVotes();
            });
        });
    </script>
}

